:root{
    --flame: #d8572a;
    --viridianGreen:#12a09e;
    --black: #000;
    --white: #fff;
    --lightGray: #ebeced;
    --linkedin: #057ab8;
    --facebook: #495b94;
    --twitter: #76a9ea;
    --link: #6b0465;
    --gray: #777;
}

.grid-container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;

    display: grid;
    grid-template-columns: 180px 250px 700px 180px;
    grid-template-rows: 20% 40%;
    grid-row-gap: 8px;
    grid-column-gap: 0px;
    grid-template-areas: 
    "header  header header header"
    "....... side-bar main .......";
}

/* HEADER */
.header {
    grid-area: header;
    grid-column: 1 / 5;
    grid-row: 1;
    
    text-align: center;
    background-color: var(--flame);
    padding: 15px 10px 45px 10px;
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
}

.header-box {
    display: inline-block;
    padding: 0px 30px;
    border: 1px solid var(--white);
}
/* END OF HEADER */


/* ASIDE */
.side-bar {
    grid-area: side-bar;
    background-color: var(--lightGray);
    grid-column: 2 / span 1;
    grid-row: 2;
    padding: 8px;
}
.side-bar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.contact > h5 > a {
    text-decoration: none;
    color: var(--black);
}
.social-media {
    border-top: 2px solid var(--black);
}

.smedia-link {
    margin-bottom: 12px;
    display: block;
    color: var(--link);
}

.icon {
    margin-right: 5px;
}

.contact .icon {
    font-size: 1.2rem;
}
.social-media .icon {
    font-size: 1.3rem;
}
.linkedin {
    color: var(--linkedin);
}

.facebook {
    color: var(--facebook);
}

.twitter {
    color: var(--twitter);
}

.instagram {
    font-weight: bold;
    background: -webkit-linear-gradient(30deg, #9f0715 0%, #a10031 16%, #a20043 33%,
     #a20056 50%, #a1006d 66%, #9d0089 83%, #5700ff 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}
/* END OF ASIDE */


/* MAIN */
.main {
    grid-area: main;
    grid-column: 3 / span 1;
    grid-row: 2;
    padding: 0px 10px;
}

.sections {
    border-top: 1px solid var(--lightGray);  
}

.heading {
    font-weight: normal;
    color: var(--flame);
}

.experience , .education {
    display: grid;
    grid-template-columns: 150px 400px;
    grid-template-rows: 30px 50px;
    grid-column-gap: 30px;
    grid-template-areas: 
    "row1-column1  row1-column2"
    "....... row2-column2";
}

.row1-column1 {
    grid-area: row1-column1;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.row1-column2 {
    grid-area: row1-column2;
    grid-column: 2;
    grid-row: 1;
    padding-bottom: 20px;
}
.row2-column2 {
    grid-area: row2-column2;
    grid-column: 2;
    grid-row: 2;
}
.sections-skills {
    display: flex; 
}

/* END OF MAIN */